[user]
    name  = {{ .name }}
    email = {{ .email }}
{{- $keysJson := output "curl" "-s" (printf "https://api.github.com/users/%s/ssh_signing_keys" .gh_username) -}}
{{- range ($keysJson | fromJson) -}}
  {{- if eq (trim .title) $.gh_signing_key }}
    signingkey = {{ .key }}
  {{- end }}
{{- end }}
