[user]
    name  = {{ .name }}
    email = {{ .email }}
{{- $keysJson := output "curl" "-s" (printf "https://api.github.com/users/%s/ssh_signing_keys" .gh_username) -}}
{{- range ($keysJson | fromJson) -}}
  {{- if eq (trim .title) $.gh_signing_key }}
    signingkey = {{ .key }}
  {{- end }}
{{- end }}

[gpg]
	format = ssh

[gpg "ssh"]
	allowedSignersFile = ~/.ssh/allowed_signers
{{- if .work }}
	program = "/Applications/1Password.app/Contents/MacOS/op-ssh-sign"
{{- else if eq .chezmoi.os "windows" }}
	program = "C:/Windows/System32/OpenSSH/ssh-keygen.exe"
{{- else }}
	program = "ssh-keygen"
{{- end }}

[commit]
	gpgsign = true

[tag]
	gpgsign = true

[core]
    autocrlf      = input
    excludesfile  = ~/.gitignore_global
	pager		  = delta
{{- if eq .chezmoi.os "windows" }}
	sshCommand    = C:/Windows/System32/OpenSSH/ssh.exe
{{- else if .is_wsl }}
	sshCommand    = ssh.exe
{{- end }}

[color]
    ui = true

[init]
    defaultBranch = main

[push]
    default         = upstream
    autoSetupRemote = true

[pull]
    rebase = true

[log]
	showSignature = true

[alias]
    st     = status
    ci     = commit
    br     = branch
    co     = checkout
    ppop   = !git stash && git pull && git stash pop
    pubjar = !git commit --allow-empty -m "publish jars"
	logy = log --no-show-signature --graph --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)[%G?|%an|%GS]%Creset' --abbrev-commit --date=relative

[merge]
    tool = vscode
	conflictStyle = zdiff3

[mergetool "vscode"]
    cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    dark = true      # or light = true, or omit for auto-detection
