enter_accept = true
inline_height = 20
show_help = false
show_numeric_shortcuts = false
style = "full"
sync_address = "{{ .atuin_url }}"

# ctrl + r -> history for current dir
filter_mode = "directory"
# up arrow -> history for current host
filter_mode_shell_up_key_binding = "host"

[ui]
columns = ["duration", "datetime", "time", "user", "host", "directory", "command", "exit"]

[theme]
name = "catppuccin-macchiato"
