#:schema https://mise.jdx.dev/schema/mise.json

[tools]
# core tools
# general cli tools
age = "latest"
# no direct/github atuin darwin-amd64 binary
# let this be installed via homebrew for now
"atuin" = "latest"
bat = "latest"
bitwarden = "latest"
chezmoi = "latest"
# no direct/github delta darwin-amd64 binary
# let this be installed via homebrew for now
delta = "latest"
eza = "latest"
gum = "latest"
fastfetch = "latest"
fzf = "latest"
gh = "latest"
hwatch = "latest"
lazygit = "latest"
opencode = "latest"
starship = "latest"
worktrunk = "latest"

"github:tealdeer-rs/tealdeer" = "latest"

[settings]
color_theme = "catppuccin"
gpg_verify = true
minimum_release_age = "2d"
